.container {
  width: 280px;
  color: #314d3e;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: #1da1f2;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#text {
  width: 10rem;
  height: 4rem;
  overflow: scroll;
}
